.header{
    background-color: #ace1af;
    padding: 12px;
    display: flex;
    box-shadow: 3px 3px 3px gray;
}

.header img{
    padding-top: 6px;
    height: 50px;
    width: 50px; 
    padding-right: 30px;
}
.menu{
    display: flex;
    margin-left: auto;
    padding: 12px;
}
.menu a{
    margin-left: 30px;
    text-decoration: none;
    color: black;
    margin-top: 15px;
}
.menu a:hover{
   
   color: white;
}

.dropdown{
    margin-top: 15px;
}
.menu img{
    text-decoration: none;
    width: 40px;
    height: 40px;
}
.menu img:hover {
    transform: scale(1.2); /* Membesarkan ikon saat dihover */
    filter: brightness(1.0); /* Meningkatkan kecerahan ikon */
}

.drpdwn{margin-left: 10px;
    display: none;
    position: absolute;
    background-color: #ace1af;
    min-width: 150px;
    margin-top: -30px;
    
}
.drpdwn a{
      color: black;
      
    text-decoration: none;
    display: block;
}

.materi1{
    padding: 10px;
    background-color: #a5dd9b;
    text-align: center;
    box-shadow: 3px 3px 3px gray;
}
.materi{
    display: flex;
    justify-content:center ;
    
}
.card{ background-color: #ace1af;
    border-radius: 10px;
    width: 150px;
    margin: 30px;
    padding: 30px;
    text-align: center;
    box-shadow: 2px 2px 4px gray;
}
.capaian{
    text-align: center;
    padding: 10px;
    margin-top:10px ;
    background-color: #a5dd9b;
    box-shadow: 3px 3px 3px gray;
}
.capaian img{
    width: 300px;
    margin-left: 10px;
}
.capaian button{
    padding: 10px;
    background-color: rgb(47, 135, 47);
    border-radius: 10px;
    color: white;
}
.capaian button:hover{
    color: black;
    background-color: rgb(8, 215, 8);
}
.latihan{
    text-align: center;
    background-color: #a5dd9b;
    padding: 10px;
    margin-top: 15px;
    box-shadow: 3px 3px 3px gray;
}
.atas{
    padding:10px 30px 10px 30px;
    margin-top: 30px;
    background-color: #a5dd9b;
    display: flex;
    justify-content: space-between;
}
.card a{
   text-decoration: none;
   color: black;
}
.card:hover{
    background-color: #a5dd9b;
}
.card a:hover{
    color: white;
}
.list ul{
    margin-left: -40px;
    list-style: none;
}
.list a{
    text-decoration: none;
    color: black;
}
.list a:hover{
    color: white;
}
.kontak a{
   text-decoration: none;
   color: black;
}
.kontak a:hover{
    color: white;
}
.footerbawah{
    padding: 5px;
    margin-top: 1px;
    background-color: #a5dd9b;
    display: flex;
    justify-content: center;
}

.tentang img{
    width: 50px;
}
.Kontak{
      text-align: center;
    background-color: #a5dd9b;
    padding: 10px;
    margin-top: 15px;
    box-shadow: 3px 3px 3px gray;
}
.Kontak a{
    text-decoration: none;
    color: black;
}
.Kontak a:hover{
    color: white;
}
.capaian a{
    text-decoration: none;
    color: white;
}
.kalimat{
    color: rgb(228, 65, 65);
}
.latihan p {
    color: rgb(248, 67, 67);
}
@media (max-width: 768px) {
    .header{
    background-color: #ace1af;
    padding: 12px;
    display: flex;
    box-shadow: 3px 3px 3px gray;
}

.header img{
    padding-top: 23px;
    height: 30px;
    width: 30px; 
    padding-right: 30px;
}
h2{
    font-size: 17px;
}
.menu{
        display: flex;
        padding: 0px;
        font-size: 12px;
    }
.menu a{
      
        margin-left: 10px;
    }
.menu a:hover{
   
   color: white;
}
.card{ background-color: #ace1af;
    border-radius: 10px;
    width: 150px;
    height: 100px;
    margin: 30px;
    padding: 20px;
    text-align: center;
    box-shadow: 2px 2px 4px gray;
}
.atas{
    padding:10px 50px 10px 50px;
    margin-top: 30px;
    background-color: #a5dd9b;
    display: flex;
    
}
.tentang{
    margin-right: 15px;
}
.list{
    margin-right: 15px;
}
}